In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('C:/Users/ABA/Desktop/nikamooz/mainCourseSTuuf/dataset/happy2015.csv')
data.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

## سورت بر اساس رنک شادی

In [6]:
data.sort_values('Happiness Rank',ascending=True).head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

## تغییر نام ستون ها به نام ساده تر (github)

In [7]:
mapping = {'Economy (GDP per Capita)': 'Economy', 'Health (Life Expectancy)': 'Health', 'Trust (Government Corruption)': 'Trust' }

In [8]:
data = data.rename(mapping, axis = 1)
data.head(10)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy,Family,Health,Freedom,Trust,Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
5,Finland,Western Europe,6,7.406,0.03140,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2.61955
6,Netherlands,Western Europe,7,7.378,0.02799,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2.46570
7,Sweden,Western Europe,8,7.364,0.03157,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262,2.37119
8,New Zealand,Australia and New Zealand,9,7.286,0.03371,1.25018,1.31967,0.90837,0.63938,0.42922,0.47501,2.26425
9,Australia,Australia and New Zealand,10,7.284,0.04083,1.33358,1.30923,0.93156,0.65124,0.35637,0.43562,2.26646

In [9]:
print('mean',data['Economy'].mean(),'max',data['Economy'].max(),'min', data['Economy'].min())

mean 0.8461372151898726 max 1.69042 min 0.0

## low/high توابع

In [10]:
def transformer (cell):
    if cell > 1 :
        return 'High'
    else:
        return 'Low'

In [11]:
def transformer1 (e,m):
    if e > m :
        return 'High'
    else:
        return 'Low'

## Apply

In [12]:
ecoApply =data['Economy'].apply(transformer)

## Map 
## به خطا توجه کنید

In [13]:
ecoMap = data['Economy'].map(transformer1, m = data['Economy'].mean())

TypeError: map() got an unexpected keyword argument 'm'

## محاسبه میانگین اقتصاد و
## لیبل گذاری روی بیشتر از میانگین و کمتر از میانگین

In [14]:
ecoMap = data['Economy'].apply(transformer1, m = data['Economy'].mean())
ecoMap.head()

0    High
1    High
2    High
3    High
4    High
Name: Economy, dtype: object

## سنجش تساوی دو سریز

In [15]:
equal = ecoApply.equals(ecoMap)
equal

False

In [16]:
features = ['Economy', 'Family', 'Health', 'Freedom', 'Trust', 'Generosity']
feature_result = data[features].applymap(transformer)
feature_result.head()

  Economy Family Health Freedom Trust Generosity
0    High   High    Low     Low   Low        Low
1    High   High    Low     Low   Low        Low
2    High   High    Low     Low   Low        Low
3    High   High    Low     Low   Low        Low
4    High   High    Low     Low   Low        Low

## درصد تاثیر بعضی ستون ها

In [17]:
criteria = ['Economy', 'Family', 'Health', 'Freedom', 'Trust', 'Generosity', 'Dystopia Residual']

In [18]:
def percentages(col):
    div = col/data['Happiness Score'] 
    return div * 100

## محاسبه درصد تاثیر و سپس
 ## درج اسم کشور با ایندکس پیش فرض

In [24]:
criteriaPercent = data[criteria].apply(percentages)
criteriaPercent['Country'] = data['Country']
criteriaPercent.head()

,Economy,Family,Health,Freedom,Trust,Generosity,Dystopia Residual,Country
0,18.406617,17.787136,12.408462,8.772506,5.532885,3.911691,33.180177,Switzerland
1,17.224177,18.545563,12.535908,8.315963,1.870784,5.770401,35.736146,Iceland
2,17.609672,18.075993,11.620035,8.627342,6.424472,4.535539,33.108011,Denmark
3,19.396437,17.694097,11.768280,8.903616,4.852832,4.613002,32.774661,Norway
4,17.857681,17.808132,12.193753,8.522553,4.437458,6.168170,33.011445,Canada