In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('C:/Users/ABA/Desktop/nikamooz/mainCourseSTuuf/dataset/Startupdata50.csv')
data.head(8)

,Rank,R&D Spend,Administration,Marketing Spend,State,Profit,Previous Rank
0,0,165349.20,136897.80,471784.10,New York,192261.83,15
1,1,162597.70,151377.59,443898.53,California,191792.06,16
2,2,153441.51,101145.55,407934.54,Florida,191050.39,20
3,3,144372.41,118671.85,383199.62,New York,182901.99,21
4,4,142107.34,91391.77,366168.42,Florida,166187.94,25
5,5,131876.90,99814.71,362861.36,New York,156991.12,28
6,6,134615.46,147198.87,127716.82,California,156122.51,31
7,7,130298.13,145530.06,323876.68,Florida,155752.60,30

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
Rank               50 non-null int64
R&D Spend          50 non-null float64
Administration     50 non-null float64
Marketing Spend    50 non-null float64
State              50 non-null object
Profit             50 non-null float64
Previous Rank      50 non-null int64
dtypes: float64(4), int64(2), object(1)
memory usage: 2.8+ KB

In [4]:
my_series = data['Previous Rank'] + 10
my_series.head(5)

0    25
1    26
2    30
3    31
4    35
Name: Previous Rank, dtype: int64

In [5]:
changedRank =  data["Previous Rank"] - data["Rank"]
changedRank.head(3)

0    15
1    15
2    18
dtype: int64

# اضافه کردن ستون اختلاف رنک

In [6]:
data['Previous Rank - Rank'] = changedRank
data.head()

,Rank,R&D Spend,Administration,Marketing Spend,State,Profit,Previous Rank,Previous Rank - Rank
0,0,165349.20,136897.80,471784.10,New York,192261.83,15,15
1,1,162597.70,151377.59,443898.53,California,191792.06,16,15
2,2,153441.51,101145.55,407934.54,Florida,191050.39,20,18
3,3,144372.41,118671.85,383199.62,New York,182901.99,21,18
4,4,142107.34,91391.77,366168.42,Florida,166187.94,25,21

In [7]:
changedRankSample =  data["Previous Rank"] * data["Rank"]
changedRankSample.head(4)

0     0
1    16
2    40
3    63
dtype: int64

In [8]:
RankChangeMax = changedRank.max()
RankChangeMin = changedRank.min()
print(RankChangeMax,RankChangeMin)

25 10

# series.Describe()

In [9]:
changedRank.describe()

count    50.000000
mean     18.740000
std       4.525709
min      10.000000
25%      15.250000
50%      18.500000
75%      23.000000
max      25.000000
dtype: float64

# df.Describe()

In [10]:
data.describe()

,Rank,R&D Spend,Administration,Marketing Spend,Profit,Previous Rank,Previous Rank - Rank
count,50.00000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,24.50000,73721.615600,121344.639600,211025.097800,112012.639200,43.240000,18.740000
std,14.57738,45902.256482,28017.802755,122290.310726,40306.180338,14.829039,4.525709
min,0.00000,0.000000,51283.140000,0.000000,14681.400000,15.000000,10.000000
25%,12.25000,39936.370000,103730.875000,129300.132500,90138.902500,31.500000,15.250000
50%,24.50000,73051.080000,122699.795000,212716.240000,107978.190000,42.500000,18.500000
75%,36.75000,101602.800000,144842.180000,299469.085000,139765.977500,55.000000,23.000000
max,49.00000,165349.200000,182645.560000,471784.100000,192261.830000,74.000000,25.000000

In [11]:
data['Previous Rank'].describe()

count    50.000000
mean     43.240000
std      14.829039
min      15.000000
25%      31.500000
50%      42.500000
75%      55.000000
max      74.000000
Name: Previous Rank, dtype: float64

In [12]:
data["State"].value_counts()

California    17
New York      17
Florida       16
Name: State, dtype: int64

In [13]:
data["State"].value_counts().loc["New York"]

17

## روی سطر دیتا فریم axis = 1
## روی ستون دیتا فریم  axis = 0

In [14]:
means = data[["R&D Spend", "Profit"]].mean(axis=0)
means.head(5)

R&D Spend     73721.6156
Profit       112012.6392
dtype: float64

## روی سطر دیتا فریم

In [15]:
means = data[["R&D Spend", "Profit"]].mean(axis=1)
means.head(8)

0    178805.515
1    177194.880
2    172245.950
3    163637.200
4    154147.640
5    144434.010
6    145368.985
7    143025.365
dtype: float64

## فقط ستون های عددی

In [16]:
minData = data.min(numeric_only=True)
minData

Rank                        0.00
R&D Spend                   0.00
Administration          51283.14
Marketing Spend             0.00
Profit                  14681.40
Previous Rank              15.00
Previous Rank - Rank       10.00
dtype: float64

In [17]:
print(data.describe())

           Rank      R&D Spend  Administration  Marketing Spend  \
count  50.00000      50.000000       50.000000        50.000000
mean   24.50000   73721.615600   121344.639600    211025.097800
std    14.57738   45902.256482    28017.802755    122290.310726
min     0.00000       0.000000    51283.140000         0.000000
25%    12.25000   39936.370000   103730.875000    129300.132500
50%    24.50000   73051.080000   122699.795000    212716.240000
75%    36.75000  101602.800000   144842.180000    299469.085000
max    49.00000  165349.200000   182645.560000    471784.100000

              Profit  Previous Rank  Previous Rank - Rank
count      50.000000      50.000000             50.000000
mean   112012.639200      43.240000             18.740000
std     40306.180338      14.829039              4.525709
min     14681.400000      15.000000             10.000000
25%     90138.902500      31.500000             15.250000
50%    107978.190000      42.500000             18.500000
75%    139765.977500      55.000000             23.000000
max    192261.830000      74.000000             25.000000

##  نشان دادن آبجکت غیر عددی

In [18]:
print(data.describe(include=['O']))

             State
count           50
unique           3
top     California
freq            17

## مقدار دهی به کل سری

In [19]:
toprank = data.copy()
toprank["Rank"] = 0
toprank.head(5)

,Rank,R&D Spend,Administration,Marketing Spend,State,Profit,Previous Rank,Previous Rank - Rank
0,0,165349.20,136897.80,471784.10,New York,192261.83,15,15
1,0,162597.70,151377.59,443898.53,California,191792.06,16,15
2,0,153441.51,101145.55,407934.54,Florida,191050.39,20,18
3,0,144372.41,118671.85,383199.62,New York,182901.99,21,18
4,0,142107.34,91391.77,366168.42,Florida,166187.94,25,21

## مقدار دهی به  سلول

In [20]:
toprank.loc[1:3, "Rank"] = 999
toprank.head(5)

,Rank,R&D Spend,Administration,Marketing Spend,State,Profit,Previous Rank,Previous Rank - Rank
0,0,165349.20,136897.80,471784.10,New York,192261.83,15,15
1,999,162597.70,151377.59,443898.53,California,191792.06,16,15
2,999,153441.51,101145.55,407934.54,Florida,191050.39,20,18
3,999,144372.41,118671.85,383199.62,New York,182901.99,21,18
4,0,142107.34,91391.77,366168.42,Florida,166187.94,25,21

In [21]:
toprank.loc[:,'State'] = "Tehran"
toprank.head()

,Rank,R&D Spend,Administration,Marketing Spend,State,Profit,Previous Rank,Previous Rank - Rank
0,0,165349.20,136897.80,471784.10,Tehran,192261.83,15,15
1,999,162597.70,151377.59,443898.53,Tehran,191792.06,16,15
2,999,153441.51,101145.55,407934.54,Tehran,191050.39,20,18
3,999,144372.41,118671.85,383199.62,Tehran,182901.99,21,18
4,0,142107.34,91391.77,366168.42,Tehran,166187.94,25,21

### Boolean Indexing

In [22]:
booltest = data.copy()
StateBool = booltest["State"] == "California"
Calif = booltest.loc[StateBool, "Administration"]
print(StateBool.head(),Calif.head())

0    False
1     True
2    False
3    False
4    False
Name: State, dtype: bool 1     151377.59
6     147198.87
9     108679.17
11     91790.61
13    135495.07
Name: Administration, dtype: float64

## محاسبه هزینه ادمین برای آنهایی که در کالیفرنیا هستند با استفاده از بولین ایندکس

In [23]:
admin = booltest["Administration"][booltest["State"] == "California"].head()
admin

1     151377.59
6     147198.87
9     108679.17
11     91790.61
13    135495.07
Name: Administration, dtype: float64