In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('C:/Users/ABA/Desktop/nikamooz/mainCourseSTuuf/dataset/Motor_Vehicle_Collisions_-_Crashes.csv')
crash = data[0:167449]
crash.head(5)

C:\Users\ABA\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,07/29/2019,0:30,NaN,NaN,40.655872,-73.95640,POINT (-73.9564 40.655872),PARKSIDE AVENUE,NaN,NaN,...,NaN,NaN,NaN,NaN,4179323,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1,08/20/2019,22:50,BROOKLYN,11201,40.689690,-73.99237,POINT (-73.99237 40.68969),ATLANTIC AVENUE,COURT STREET,NaN,...,Unspecified,NaN,NaN,NaN,4192618,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
2,08/08/2019,17:45,NaN,NaN,40.650597,-73.97209,POINT (-73.97209 40.650597),PARK CIRCLE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4185400,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
3,08/22/2019,10:26,BROOKLYN,11205,40.693436,-73.97784,POINT (-73.97784 40.693436),MYRTLE AVENUE,SAINT EDWARDS STREET,NaN,...,Unspecified,NaN,NaN,NaN,4192931,Sedan,Bike,NaN,NaN,NaN
4,07/30/2019,19:00,QUEENS,11368,40.755432,-73.86878,POINT (-73.86878 40.755432),NaN,NaN,99-24 34 AVENUE,...,Unspecified,NaN,NaN,NaN,4186264,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

# لیست فیچر ها

In [4]:
crash.columns

Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'],
      dtype='object')

In [5]:
nulls = crash.isnull().sum()
print(crash.isnull().sum())

CRASH DATE                            0
CRASH TIME                            0
BOROUGH                           58708
ZIP CODE                          58741
LATITUDE                          13885
LONGITUDE                         13885
LOCATION                          13885
ON STREET NAME                    40602
CROSS STREET NAME                 84953
OFF STREET NAME                  126868
NUMBER OF PERSONS INJURED             1
NUMBER OF PERSONS KILLED              4
NUMBER OF PEDESTRIANS INJURED         0
NUMBER OF PEDESTRIANS KILLED          0
NUMBER OF CYCLIST INJURED             0
NUMBER OF CYCLIST KILLED              0
NUMBER OF MOTORIST INJURED            0
NUMBER OF MOTORIST KILLED             0
CONTRIBUTING FACTOR VEHICLE 1       605
CONTRIBUTING FACTOR VEHICLE 2     27677
CONTRIBUTING FACTOR VEHICLE 3    155828
CONTRIBUTING FACTOR VEHICLE 4    164854
CONTRIBUTING FACTOR VEHICLE 5    166760
COLLISION_ID                          0
VEHICLE TYPE CODE 1                1188
VEHICLE TYPE CODE 2               36934
VEHICLE TYPE CODE 3              156416
VEHICLE TYPE CODE 4              164974
VEHICLE TYPE CODE 5              166798
dtype: int64

## ابعاد دیتا فریم

In [8]:
crash.shape

(167449, 29)

## درصد خالی بودن ستون ها

In [6]:
nullPercent = nulls / crash.shape[0] * 100
nullPercent

CRASH DATE                        0.000000
CRASH TIME                        0.000000
BOROUGH                          35.060227
ZIP CODE                         35.079935
LATITUDE                          8.292077
LONGITUDE                         8.292077
LOCATION                          8.292077
ON STREET NAME                   24.247383
CROSS STREET NAME                50.733656
OFF STREET NAME                  75.765158
NUMBER OF PERSONS INJURED         0.000597
NUMBER OF PERSONS KILLED          0.002389
NUMBER OF PEDESTRIANS INJURED     0.000000
NUMBER OF PEDESTRIANS KILLED      0.000000
NUMBER OF CYCLIST INJURED         0.000000
NUMBER OF CYCLIST KILLED          0.000000
NUMBER OF MOTORIST INJURED        0.000000
NUMBER OF MOTORIST KILLED         0.000000
CONTRIBUTING FACTOR VEHICLE 1     0.361304
CONTRIBUTING FACTOR VEHICLE 2    16.528615
CONTRIBUTING FACTOR VEHICLE 3    93.059976
CONTRIBUTING FACTOR VEHICLE 4    98.450274
CONTRIBUTING FACTOR VEHICLE 5    99.588531
COLLISION_ID                      0.000000
VEHICLE TYPE CODE 1               0.709470
VEHICLE TYPE CODE 2              22.056865
VEHICLE TYPE CODE 3              93.411128
VEHICLE TYPE CODE 4              98.521938
VEHICLE TYPE CODE 5              99.611225
dtype: float64

#  fillna جزییات

In [7]:
crash.fillna?

##   یک مقدار یکتاست؟ COLLISION_ID آیا

In [8]:
crash['COLLISION_ID'].nunique()

167449

In [9]:
crash.nunique?

# Series Size

In [10]:
crash['COLLISION_ID'].size

167449

# ست کردن ستون  با مقادیر یکتا به عنوان ایندکس

In [8]:
crash.set_index('COLLISION_ID').head(1)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
COLLISION_ID,,,,,,,,,,,,,,,,,,,,,
4179323,07/29/2019,0:30,NaN,NaN,40.655872,-73.9564,POINT (-73.9564 40.655872),PARKSIDE AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,NaN,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN

## تبدیل استرینگ به تاریخ و ساعت

In [9]:
crash['CRASH DATE'] = pd.to_datetime(crash['CRASH DATE'])

C:\Users\ABA\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [10]:
crash['CRASH DATE'] = [x.strftime("%y-%m-%d") for x in crash['CRASH DATE']]

C:\Users\ABA\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
crash.sort_values('CRASH DATE')

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
132,13-02-25,15:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P/L OF 145 GREAVES LANE,...,Unspecified,NaN,NaN,NaN,296781,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
158,13-03-19,17:18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Unspecified,Unspecified,NaN,NaN,2918969,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN
104,13-11-16,4:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,2927708,LARGE COM VEH(6 OR MORE TIRES),PASSENGER VEHICLE,NaN,NaN,NaN
164799,18-08-05,10:40,NaN,NaN,40.744747,-73.864890,POINT (-73.86489 40.744747),CORONA AVENUE,98 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3955507,Sedan,NaN,NaN,NaN,NaN
166976,18-08-05,6:47,STATEN ISLAND,10310,40.636707,-74.119380,POINT (-74.11938 40.636707),NaN,NaN,820 HENDERSON AVENUE,...,NaN,NaN,NaN,NaN,3961446,Sedan,NaN,NaN,NaN,NaN
162247,18-08-06,1:00,QUEENS,11370,40.760826,-73.890120,POINT (-73.89012 40.760826),78 STREET,30 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3959236,Sedan,NaN,NaN,NaN,NaN
162276,18-08-06,15:00,BRONX,10474,40.805780,-73.877304,POINT (-73.877304 40.80578),NaN,NaN,355 FOOD CENTER DRIVE,...,Unspecified,NaN,NaN,NaN,3956888,Tractor Truck Diesel,Sedan,NaN,NaN,NaN
166897,18-08-06,8:25,BROOKLYN,11220,40.642776,-74.020030,POINT (-74.02003 40.642776),59 STREET,3 AVENUE,NaN,...,NaN,NaN,NaN,NaN,3955905,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
163318,18-08-07,13:15,BROOKLYN,11204,40.630367,-73.979866,POINT (-73.979866 40.630367),NaN,NaN,1769 46 STREET,...,NaN,NaN,NaN,NaN,3956571,Sedan,NaN,NaN,NaN,NaN
164218,18-08-07,16:00,NaN,NaN,40.745636,-73.753510,POINT (-73.75351 40.745636),223 PLACE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3957025,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
119069,18-08-08,19:10,QUEENS,11365,40.730103,-73.810910,POINT (-73.81091 40.730103),NaN,NaN,71-01 PARSONS BOULEVARD,...,Unspecified,NaN,NaN,NaN,3957498,Station Wagon/Sport Utility Vehicle,Pick-up Truck,NaN,NaN,NaN
162780,18-08-08,12:15,NaN,NaN,40.679676,-73.878630,POINT (-73.87863 40.679676),NORWOOD AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3962221,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
164643,18-08-09,17:26,QUEENS,11365,40.738350,-73.788540,POINT (-73.78854 40.73835),64 AVENUE,185 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3958373,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
120601,18-08-09,16:00,NaN,NaN,40.781387,-73.952130,POINT (-73.95213 40.781387),EAST 90 STREET,NaN,NaN,...,Passing or Lane Usage Improper,NaN,NaN,NaN,3958917,Taxi,Sedan,NaN,NaN,NaN
162143,18-08-09,20:10,STATEN ISLAND,10306,40.570465,-74.109770,POINT (-74.10977 40.570465),NEW DORP LANE,HYLAN BOULEVARD,NaN,...,NaN,NaN,NaN,NaN,3958713,Sedan,NaN,NaN,NaN,NaN
161181,18-08-09,8:00,BROOKLYN,11222,40.732300,-73.958010,POINT (-73.95801 40.7323),NaN,NaN,167 FRANKLIN STREET,...,Unspecified,NaN,NaN,NaN,3959290,Sedan,NaN,NaN,NaN,NaN
125377,18-08-09,12:25,NaN,NaN,40.694813,-73.983270,POINT (-73.98327 40.694813),GOLD STREET,NaN,NaN,...,NaN,NaN,NaN,NaN,3957885,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
161746,18-08-09,12:50,NaN,NaN,40.768400,-73.737550,POINT (-73.73755 40.7684),NORTHERN BOULEVARD,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3957886,Sedan,Sedan,NaN,NaN,NaN
160939,18-08-10,12:16,NaN,NaN,40.893402,-73.851500,POINT (-73.8515 40.893402),BUSSING AVENUE,NaN,NaN,...,Failure to Yield Right-of-Way,NaN,NaN,NaN,3960046,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
126429,18-08-12,10:51,BROOKLYN,11210,40.625490,-73.939926,POINT (-73.939926 40.62549),NaN,NaN,1824 FLATBUSH AVENUE,...,Unspecified,NaN,NaN,NaN,3959485,Sedan,Sedan,NaN,NaN,NaN
120574,18-08-13,14:27,QUEENS,11373,40.736750,-73.877670,POINT (-73.87767 40.73675),GRAND AVENUE,QUEENS BOULEVARD,NaN,...,Unspecified,NaN,NaN,NaN,3960427,Sedan,Comme,NaN,NaN,NaN
120074,18-08-13,3:45,NaN,NaN,40.879307,-73.902950,POINT (-73.90295 40.879307),MAJOR DEEGAN EXPRESSWAY,NaN,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,3960477,Taxi,Sedan,NaN,NaN,NaN
115137,18-08-14,17:15,BROOKLYN,11209,40.627860,-74.024605,POINT (-74.024605 40.62786),NaN,NaN,459 78 STREET,...,Unspecified,NaN,NaN,NaN,3960986,Sedan,Sedan,NaN,NaN,NaN
121395,18-08-14,0:00,NaN,NaN,40.767597,-73.885390,POINT (-73.88539 40.767597),GRAND CENTRAL PKWY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3961034,Sedan,Taxi,NaN,NaN,NaN
160676,18-08-14,14:30,BROOKLYN,11217,40.677960,-73.982700,POINT (-73.9827 40.67796),NaN,NaN,204 4 AVENUE,...,Unspecified,NaN,NaN,NaN,3962019,Sedan,Sedan,NaN,NaN,NaN
160650,18-08-15,16:47,BRONX,10458,40.860380,-73.888890,POINT (-73.88889 40.86038),EAST FORDHAM ROAD,WASHINGTON AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3962822,Bus,Sedan,NaN,NaN,NaN
125080,18-08-15,11:40,STATEN ISLAND,10305,40.613537,-74.062930,POINT (-74.06293 40.613537),SCARBORO AVENUE,NEW LANE,NaN,...,NaN,NaN,NaN,NaN,3962655,Sedan,NaN,NaN,NaN,NaN
160757,18-08-15,1:15,NaN,NaN,40.691580,-73.793190,POINT (-73.79319 40.69158),110 AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3961943,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
123330,18-08-16,8:25,NaN,NaN,40.746555,-73.826210,POINT (-73.82621 40.746555),MAIN STREET,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3962428,Sedan,Pick-up Truck,NaN,NaN,NaN
122240,18-08-17,17:40,NaN,NaN,40.815304,-73.943710,POINT (-73.94371 40.815304),WEST 135 STREET,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3963770,Sedan,Taxi,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61469,20-04-28,19:01,NaN,NaN,NaN,NaN,NaN,CONDUIT BOULEVARD,75 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4310967,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
105,20-04-28,20:00,NaN,NaN,40.807510,-73.934130,POINT (-73.93413 40.80751),HARLEM RIVER DRIVE,NaN,NaN,...,NaN,NaN,NaN,NaN,4310801,Tractor Truck Gasoline,NaN,NaN,NaN,NaN
53021,20-04-28,7:30,MANHATTAN,10029,40.793470,-73.937260,POINT (-73.93726 40.79347),1 AVENUE,EAST 112 STREET,NaN,...,Turning Improperly,NaN,NaN,NaN,4310723,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
46388,20-04-28,0:00,BRONX,10466,40.891930,-73.848076,POINT (-73.848076 40.89193),WICKHAM AVENUE,EDENWALD AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4310917,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
50712,20-04-28,16:55,BROOKLYN,11239,NaN,NaN,NaN,Erskine street,Egan street,NaN,...,Unspecified,NaN,NaN,NaN,4310968,Tractor Truck Gasoline,Sedan,NaN,NaN,NaN
47862,20-04-28,14:08,BROOKLYN,11207,40.683660,-73.907880,POINT (-73.90788 40.68366),BUSHWICK AVENUE,PILLING STREET,NaN,...,Unspecified,NaN,NaN,NaN,4310840,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
61472,20-04-28,21:03,MANHATTAN,10029,40.791440,-73.941860,POINT (-73.94186 40.79144),NaN,NaN,2081 2 AVENUE,...,Driver Inattention/Distraction,NaN,NaN,NaN,4310852,Pick-up Truck,Bus,NaN,NaN,NaN
49761,20-04-28,22:26,BRONX,10475,40.862140,-73.824936,POINT (-73.824936 40.86214),NaN,NaN,2440 HUNTER AVENUE,...,Unspecified,Unspecified,NaN,NaN,4310845,Sedan,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN
48898,20-04-28,13:10,QUEENS,11423,40.713940,-73.775850,POINT (-73.77585 40.71394),NaN,NaN,88-40 186 STREET,...,NaN,NaN,NaN,NaN,4310993,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
54111,20-04-28,15:00,QUEENS,11422,40.666565,-73.736275,POINT (-73.736275 40.666565),NaN,NaN,242-20 NORTH CONDUIT AVENUE,...,NaN,NaN,NaN,NaN,4310955,Sedan,NaN,NaN,NaN,NaN
61558,20-04-28,23:15,BROOKLYN,11224,40.577003,-74.002170,POINT (-74.00217 40.577003),NEPTUNE AVENUE,WEST 36 STREET,NaN,...,NaN,NaN,NaN,NaN,4311002,Sedan,NaN,NaN,NaN,NaN
55784,20-04-28,16:36,NaN,NaN,40.823300,-73.880030,POINT (-73.88003 40.8233),BRUCKNER EXPRESSWAY,NaN,NaN,...,Unspecified,Unspecified,NaN,NaN,4310796,Sedan,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN
49542,20-04-28,16:20,BRONX,10457,NaN,NaN,NaN,EAST TREMONT AVENUE,Third Avenue,NaN,...,Unspecified,NaN,NaN,NaN,4311048,Sedan,NaN,NaN,NaN,NaN
53061,20-04-28,2:34,BROOKLYN,11221,40.693638,-73.913315,POINT (-73.913315 40.693638),WILSON AVENUE,PUTNAM AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4310825,Sedan,Sedan,NaN,NaN,NaN
57553,20-04-28,16:45,QUEENS,11374,40.726173,-73.864890,POINT (-73.86489 40.726173),63 DRIVE,ALDERTON STREET,NaN,...,Passing Too Closely,NaN,NaN,NaN,4310935,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
59358,20-04-28,7:56,BROOKLYN,11207,40.676003,-73.894180,POINT (-73.89418 40.676003),NaN,NaN,2715 ATLANTIC AVENUE,...,Unspecified,NaN,NaN,NaN,4310966,Sedan,Dump,NaN,NaN,NaN
59991,20-04-28,9:30,QUEENS,11418,40.696846,-73.831310,POINT (-73.83131 40.696846),89 AVENUE,117 STREET,NaN,...,Unspecified,Unspecified,Unspecified,NaN,4310746,Sedan,Station Wagon/Sport Utility Vehicle,Sedan,Sedan,NaN
61238,20-04-28,15:05,NaN,NaN,NaN,NaN,NaN,SHORE PARKWAY,OCEAN PARKWAY,NaN,...,Unspecified,NaN,NaN,NaN,4310832,Sedan,Sedan,NaN,NaN,NaN
53933,20-04-28,9:00,NaN,NaN,40.587543,-73.958206,POINT (-73.958206 40.587543),AVENUE Z,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4310730,Sedan,Pick-up Truck,NaN,NaN,NaN
56042,20-04-28,5:51,MANHATTAN,10032,40.835526,-73.946490,POINT (-73.94649 40.835526),NaN,NaN,632 WEST 158 STREET,...,Unspecified,NaN,NaN,NaN,4310866,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
51794,20-04-28,15:50,BROOKLYN,11235,40.588173,-73.952460,POINT (-73.95246 40.588173),AVENUE Z,EAST 17 STREET,NaN,...,NaN,NaN,NaN,NaN,4310824,NaN,NaN,NaN,NaN,NaN
53054,20-04-28,17:14,BROOKLYN,11235,40.583485,-73.960100,POINT (-73.9601 40.583485),CONEY ISLAND AVENUE,GUIDER AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4310818,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
51012,20-04-28,16:33,BROOKLYN,11226,40.643063,-73.951660,POINT (-73.95166 40.643063),ROGERS AVENUE,CLARENDON ROAD,NaN,...,Unspecified,NaN,NaN,NaN,4310960,Bus,Bike,NaN,NaN,NaN
57504,20-04-28,15:25,QUEENS,11412,40.699550,-73.747734,POINT (-73.747734 40.69955),FRANCIS LEWIS BOULEVARD,115 AVENUE,NaN,...,NaN,NaN,NaN,NaN,4310827,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
54093,20-04-28,12:10,BRONX,10455,40.811752,-73.906680,POINT (-73.90668 40.811752),NaN,NaN,509 TINTON AVENUE,...,Unspecified,NaN,NaN,NaN,4310764,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
47900,20-04-28,12:20,NaN,NaN,40.759018,-73.853490,POINT (-73.85349 40.759018),GRAND CENTRAL PKWY,NaN,NaN,...,NaN,NaN,NaN,NaN,4310926,Sedan,NaN,NaN,NaN,NaN
56895,20-04-28,23:20,MANHATTAN,10027,40.808240,-73.952590,POINT (-73.95259 40.80824),8 AVENUE,WEST 122 STREET,NaN,...,NaN,NaN,NaN,NaN,4310854,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
55184,20-04-28,17:53,BROOKLYN,11234,40.634130,-73.928505,POINT (-73.928505 40.63413),KINGS HIGHWAY,UTICA AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4310861,Sedan,NaN,NaN,NaN,NaN
48555,20-04-28,12:00,BROOKLYN,11215,40.673960,-73.974150,POINT (-73.97415 40.67396),NaN,NaN,889 UNION STREET,...,Unspecified,NaN,NaN,NaN,4310857,Pick-up Truck,Bike,NaN,NaN,NaN
58743,20-04-28,18:16,MANHATTAN,10040,40.854320,-73.928260,POINT (-73.92826 40.85432),AUDUBON AVENUE,WEST 190 STREET,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4310898,Sedan,Sedan,NaN,NaN,NaN

## پر کردن مقادیر خالی کدام ستون منطقی تر است؟
## BOROUGH  /  Number of Person Killed ?

In [15]:
crash['NUMBER OF PERSONS KILLED']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
5         0.0
6         0.0
7         0.0
8         0.0
9         0.0
10        0.0
11        0.0
12        0.0
13        0.0
14        0.0
15        0.0
16        0.0
17        0.0
18        0.0
19        0.0
20        0.0
21        0.0
22        0.0
23        0.0
24        0.0
25        0.0
26        0.0
27        0.0
28        0.0
29        0.0
         ...
167419    0.0
167420    0.0
167421    0.0
167422    0.0
167423    0.0
167424    0.0
167425    0.0
167426    0.0
167427    0.0
167428    0.0
167429    0.0
167430    0.0
167431    0.0
167432    0.0
167433    0.0
167434    0.0
167435    0.0
167436    0.0
167437    0.0
167438    0.0
167439    0.0
167440    0.0
167441    0.0
167442    0.0
167443    0.0
167444    0.0
167445    0.0
167446    0.0
167447    0.0
167448    0.0
Name: NUMBER OF PERSONS KILLED, Length: 167449, dtype: float64

In [16]:
crash['NUMBER OF PERSONS KILLED'].fillna(method= 'ffill')

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
5         0.0
6         0.0
7         0.0
8         0.0
9         0.0
10        0.0
11        0.0
12        0.0
13        0.0
14        0.0
15        0.0
16        0.0
17        0.0
18        0.0
19        0.0
20        0.0
21        0.0
22        0.0
23        0.0
24        0.0
25        0.0
26        0.0
27        0.0
28        0.0
29        0.0
         ...
167419    0.0
167420    0.0
167421    0.0
167422    0.0
167423    0.0
167424    0.0
167425    0.0
167426    0.0
167427    0.0
167428    0.0
167429    0.0
167430    0.0
167431    0.0
167432    0.0
167433    0.0
167434    0.0
167435    0.0
167436    0.0
167437    0.0
167438    0.0
167439    0.0
167440    0.0
167441    0.0
167442    0.0
167443    0.0
167444    0.0
167445    0.0
167446    0.0
167447    0.0
167448    0.0
Name: NUMBER OF PERSONS KILLED, Length: 167449, dtype: float64

In [21]:
crash['BOROUGH'].head()

0         NaN
1    BROOKLYN
2         NaN
3    BROOKLYN
4      QUEENS
Name: BOROUGH, dtype: object

# ستون تعداد نفرات کشته شده اکثرا صفر است

In [17]:
crash['BOROUGH'].fillna(method = 'ffill')

0                   NaN
1              BROOKLYN
2              BROOKLYN
3              BROOKLYN
4                QUEENS
5                QUEENS
6                QUEENS
7              BROOKLYN
8                 BRONX
9                 BRONX
10               QUEENS
11               QUEENS
12            MANHATTAN
13             BROOKLYN
14             BROOKLYN
15             BROOKLYN
16                BRONX
17             BROOKLYN
18             BROOKLYN
19             BROOKLYN
20               QUEENS
21               QUEENS
22            MANHATTAN
23               QUEENS
24               QUEENS
25               QUEENS
26             BROOKLYN
27               QUEENS
28               QUEENS
29               QUEENS
              ...
167419            BRONX
167420            BRONX
167421        MANHATTAN
167422        MANHATTAN
167423        MANHATTAN
167424        MANHATTAN
167425           QUEENS
167426           QUEENS
167427         BROOKLYN
167428         BROOKLYN
167429        MANHATTAN
167430        MANHATTAN
167431        MANHATTAN
167432        MANHATTAN
167433        MANHATTAN
167434         BROOKLYN
167435    STATEN ISLAND
167436    STATEN ISLAND
167437         BROOKLYN
167438         BROOKLYN
167439         BROOKLYN
167440         BROOKLYN
167441         BROOKLYN
167442         BROOKLYN
167443           QUEENS
167444        MANHATTAN
167445        MANHATTAN
167446         BROOKLYN
167447           QUEENS
167448           QUEENS
Name: BOROUGH, Length: 167449, dtype: object

## پرکردن مقادیر خالی داده های اسمی و کتگوریکال

## شروع میشوند CONTRIBUTING ستون هایی که با

In [12]:
crashSotuns = [c for c in crash.columns if c.startswith("CONTRIBUTING")]

responsibles = crash[crashSotuns]

## تبدیل چند ستون  به یک سری

In [13]:
responsiblesID = responsibles.stack()

## شمارش دلیل هر تصادف

In [14]:
vehicles_counts = responsiblesID.value_counts()
top10_crash = vehicles_counts.head(10)
top10_crash

Unspecified                       169754
Driver Inattention/Distraction     53706
Following Too Closely              17120
Failure to Yield Right-of-Way      12924
Passing or Lane Usage Improper      8788
Backing Unsafely                    7996
Passing Too Closely                 7754
Other Vehicular                     7233
Unsafe Lane Changing                6056
Turning Improperly                  4001
dtype: int64

# پرکردن مقادیر خالی بر اساس مقداری با بیشترین تکرار

In [15]:
crash['CONTRIBUTING FACTOR VEHICLE 1'].fillna(value = 'Unspecified')

0                            Unspecified
1                   Unsafe Lane Changing
2                  Following Too Closely
3                           Unsafe Speed
4         Driver Inattention/Distraction
5         Driver Inattention/Distraction
6                  Following Too Closely
7         Driver Inattention/Distraction
8                            Unspecified
9          Failure to Yield Right-of-Way
10        Driver Inattention/Distraction
11                           Unspecified
12                           Unspecified
13                           Unspecified
14         Failure to Yield Right-of-Way
15                           Unspecified
16        Driver Inattention/Distraction
17        Driver Inattention/Distraction
18                 Following Too Closely
19        Driver Inattention/Distraction
20         Failure to Yield Right-of-Way
21                           Unspecified
22                           Unspecified
23                           Unspecified
24        Driver Inattention/Distraction
25                    Pavement Defective
26                      Backing Unsafely
27                           Unspecified
28                     Pavement Slippery
29                  Unsafe Lane Changing
                       ...
167419               Passing Too Closely
167420                Turning Improperly
167421    Driver Inattention/Distraction
167422     Failure to Yield Right-of-Way
167423             Following Too Closely
167424    Driver Inattention/Distraction
167425                   Other Vehicular
167426    Driver Inattention/Distraction
167427     Failure to Yield Right-of-Way
167428                       Unspecified
167429    Driver Inattention/Distraction
167430             Following Too Closely
167431                       Unspecified
167432    Driver Inattention/Distraction
167433    Driver Inattention/Distraction
167434                       Unspecified
167435                  Backing Unsafely
167436    Driver Inattention/Distraction
167437    Driver Inattention/Distraction
167438                       Unspecified
167439    Passing or Lane Usage Improper
167440               Driver Inexperience
167441              Unsafe Lane Changing
167442                       Unspecified
167443                       Unspecified
167444    Driver Inattention/Distraction
167445    Driver Inattention/Distraction
167446    Driver Inattention/Distraction
167447                       Unspecified
167448                       Unspecified
Name: CONTRIBUTING FACTOR VEHICLE 1, Length: 167449, dtype: object


# آیا این روش منطقیست؟ کجا منطقی نیست؟
# Nan?0?