In [1]:
import pandas as pd
import numpy as np

In [2]:
import csv

# بارگذاری با ماژول پایتون و نه پانداس

In [3]:
f = open("C:/Users/ABA/Desktop/nikamooz/mainCourseSTuuf/dataset/Taxi.csv", "r")
taxi = list(csv.reader(f))
taxi

[['passenger_count',
  'pickup_longitude',
  'pickup_latitude',
  'dropoff_longitude',
  'dropoff_latitude',
  'trip_duration'],
 ['1', '-73.98215485', '40.76793671', '-73.96463013', '40.76560211', '455'],
 ['1', '-73.98041534', '40.73856354', '-73.9994812', '40.73115158', '663'],
 ['1', '-73.97902679', '40.7639389', '-74.00533295', '40.71008682', '2124'],
 ['1', '-74.01004028', '40.7199707', '-74.01226807', '40.70671844', '429'],
 ['1', '-73.97305298', '40.79320908', '-73.97292328', '40.78252029', '435'],
 ['6', '-73.98285675', '40.74219513', '-73.99208069', '40.74918365', '443'],
 ['4', '-73.96901703', '40.7578392', '-73.95740509', '40.76589584', '341'],
 ['1', '-73.96927643', '40.79777908', '-73.92247009', '40.76055908', '1551'],
 ['1', '-73.9994812', '40.73839951', '-73.98578644', '40.73281479', '255'],
 ['1', '-73.98104858', '40.74433899', '-73.97299957', '40.78998947', '1225'],
 ['1', '-73.98265076', '40.76383972', '-74.00222778', '40.73299026', '1274'],
 ['4', '-73.99153137', '40.74943924', '-73.95654297', '40.77062988', '1128'],
 ['2', '-73.96298218', '40.75667953', '-73.98440552', '40.7607193', '1114'],
 ['1', '-73.95630646', '40.76794052', '-73.96611023', '40.76300049', '260'],
 ['1', '-73.99219513', '40.72722626', '-73.97465515', '40.78306961', '1414'],
 ['1', '-73.955513', '40.76859283', '-73.94876099', '40.77154541', '211'],
 ['1', '-73.99116516', '40.75556183', '-73.99929047', '40.72535324', '2316'],
 ['1', '-73.99425507', '40.74580383', '-73.99965668', '40.7233429', '731'],
 ['1', '-74.00398254', '40.7130127', '-73.97919464', '40.74992371', '1317'],
 ['1', '-73.98388672', '40.73819733', '-73.99120331', '40.72787094', '251'],
 ['1', '-73.98036957', '40.7424202', '-73.96285248', '40.76063538', '486'],
 ['1', '-73.97953796', '40.75336075', '-73.96399689', '40.76345825', '652'],
 ['1', '-73.99586487', '40.75881195', '-73.99332428', '40.74032211', '423'],
 ['1', '-73.99355316', '40.74717331', '-74.00614166', '40.70438385', '1163'],
 ['1', '-73.95523071', '40.77713394', '-73.78874969', '40.64147186', '2485'],
 ['1', '-73.95658112', '40.77135849', '-73.97496796', '40.7327919', '1283'],
 ['1', '-73.98376465', '40.74987411', '-73.95883179', '40.80096054', '1130'],
 ['1', '-73.95843506', '40.71319199', '-73.94953918', '40.68025208', '694'],
 ['1', '-73.99421692', '40.71330643', '-73.98284912', '40.69229889', '892'],
 ['1', '-73.9821167', '40.75635147', '-73.86569214', '40.77098846', '2331'],
 ['1', '-73.97093964', '40.76166916', '-73.99623871', '40.7253685', '1479'],
 ['1', '-73.99826813', '40.72003937', '-74.01036072', '40.67213821', '1048'],
 ['2', '-74.00550079', '40.70658875', '-73.98581696', '40.74420166', '1022'],
 ['1', '-73.99031067', '40.75658035', '-73.87091827', '40.7739296', '2269'],
 ['1', '-74.00899506', '40.71258926', '-73.99863434', '40.72280884', '707'],
 ['1', '-73.99456024', '40.75052643', '-73.97850037', '40.75619125', '526'],
 ['3', '-73.9515152', '40.77024841', '-73.95852661', '40.76151657', '553'],
 ['1', '-73.98806763', '40.72808075', '-73.98075104', '40.72146988', '277'],
 ['2', '-73.97812653', '40.75834274', '-73.99224854', '40.73054123', '1189'],
 ['1', '-73.97776794', '40.77407837', '-73.94714355', '40.77599335', '1523'],
 ['2', '-73.98854828', '40.74597931', '-73.97088623', '40.79338455', '1450'],
 ['2', '-73.97472382', '40.75113678', '-73.95444489', '40.76411819', '1102'],
 ['1', '-73.97509003', '40.75876617', '-73.95320129', '40.76506805', '1346'],
 ['1', '-73.97647095', '40.73978043', '-73.98066711', '40.72996521', '363'],
 ['1', '-73.97964478', '40.73963165', '-73.99472809', '40.72349548', '559'],
 ['1', '-74.0163269', '40.70499039', '-73.98210907', '40.77375031', '1478'],
 ['1', '-73.98513794', '40.73219299', '-73.98963928', '40.72087479', '348'],
 ['1', '-73.98165894', '40.77897263', '-73.96981049', '40.79212952', '375'],
 ['3', '-73.96616364', '40.76691437', '-73.99217987', '40.72581863', '1217'],
 ['1', '-73.96546936', '40.76584625', '-73.96095276', '40.79692841', '876'],
 ['1', '-73.99681854', '40.75286102', '-73.80900574', '40.81687546', '1557'],
 ['1', '-73.97725677', '40.77424622', '-73.99001312', '40.73265457', '1647'],
 ['6', '-73.97775269', '40.75463104', '-74.00167847', '40.75642014', '634'],
 ['1', '-73.96872711', '40.78643799', '-73.960495', '40.77815247', '365'],
 ['1', '-73.93488312', '40.80101013', '-73.98300171', '40.72256851', '819'],
 ['3', '-73.79289246', '40.65787888', '-73.80918884', '40.69018173', '3528'],
 ['2', '-73.98233795', '40.76280975', '-73.98285675', '40.7487793', '1228'],
 ['1', '-73.99485016', '40.71878052', '-73.9834137', '40.7588501', '2607'],
 ['1', '-73.99448395', '40.74508667', '-73.99899292', '40.72270966', '695'],
 ['1', '-73.95342255', '40.76765823', '-73.98031616', '40.73778152', '472'],
 ['1', '-73.95185089', '40.71406937', '-73.9679718', '40.6887207', '526'],
 ['4', '-73.9769516', '40.75202179', '-74.00121307', '40.75161362', '721'],
 ['1', '-74.00180054', '40.72613525', '-74.00715637', '40.74080658', '512'],
 ['1', '-73.99409485', '40.7615509', '-73.9806366', '40.78963852', '720'],
 ['1', '-74.00632477', '40.73339081', '-74.00000763', '40.74325562', '174'],
 ['1', '-74.00257111', '40.73931122', '-73.99188232', '40.74499893', '478'],
 ['1', '-73.94830322', '40.77443695', '-73.96370697', '40.75548553', '788'],
 ['2', '-74.00141144', '40.76143265', '-73.92462921', '40.86402893', '1003'],
 ['1', '-74.00298309', '40.72331238', '-74.0015564', '40.72882462', '215'],
 ['5', '-73.97833252', '40.75407028', '-73.95973206', '40.77275848', '870'],
 ['1', '-73.86338043', '40.76988983', '-73.83712769', '40.72135925', '814'],
 ['1', '-73.99725342', '40.71796036', '-73.99925232', '40.73001862', '637'],
 ['1', '-73.95839691', '40.77262878', '-73.95513153', '40.7742424', '57'],
 ['2', '-73.99120331', '40.74955368', '-73.97919464', '40.74630737', '589'],
 ['1', '-73.99232483', '40.73072052', '-73.87250519', '40.77449799', '2275'],
 ['1', '-73.9888382', '40.76890182', '-73.95553589', '40.77174377', '647'],
 ['3', '-73.96472168', '40.80660629', '-73.98457336', '40.76067734', '1628'],
 ['1', '-73.94314575', '40.78963089', '-73.98947906', '40.76276398', '2337'],
 ['1', '-74.01116943', '40.70360565', '-74.00569153', '40.74135971', '674'],
 ['1', '-73.98031616', '40.7588501', '-74.01013947', '40.70508194', '1190'],
 ['1', '-73.95049286', '40.77126694', '-74.00124359', '40.74649048', '1191'],
 ['1', '-73.98712158', '40.76847458', '-73.97582245', '40.75971222', '785'],
 ['1', '-73.98638916', '40.75661469', '-73.99979401', '40.76163101', '520'],
 ['1', '-73.96260834', '40.75882721', '-73.95419312', '40.76405334', '218'],
 ['1', '-73.99041748', '40.75688171', '-73.98197937', '40.75999069', '222'],
 ['1', '-73.99363708', '40.7342186', '-73.96146393', '40.76929855', '1204'],
 ['1', '-73.78247833', '40.64464569', '-73.98112488', '40.72088623', '1782'],
 ['2', '-74.01395416', '40.7128334', '-73.99755096', '40.7180748', '1174'],
 ['1', '-73.96882629', '40.75419617', '-73.97275543', '40.74661255', '336'],
 ['1', '-74.00328827', '40.72697067', '-73.99330139', '40.73912048', '470'],
 ['1', '-73.99105835', '40.73957062', '-74.00610352', '40.73455048', '346'],
 ['1', '-73.9668808', '40.78868103', '-73.96282196', '40.77572632', '419'],
 ['1', '-73.96167755', '40.77596664', '-73.85739136', '40.733284', '1762'],
 ['3', '-73.86431885', '40.7698288', '-73.98586273', '40.760952', '2341'],
 ['1', '-73.99223328', '40.74428177', '-74.00823212', '40.74882507', '406'],
 ['1', '-73.97698212', '40.75030136', '-73.99912262', '40.73950958', '596'],
 ['1', '-73.97346497', '40.75522995', '-73.97736359', '40.74282074', '435'],
 ['1', '-73.98186493', '40.7587738', '-73.97022247', '40.78414154', '1108'],
 ['1', '-73.7898407', '40.6435585', '-73.97066498', '40.68727875', '2824'],
 ['2', '-73.99197388', '40.74999619', '-73.97788239', '40.75489426', '769'],
 ['1', '-74.00502777', '40.74645233', '-73.97200775', '40.74578094', '1826'],
 ['1', '-73.98141479', '40.75673294', '-73.9705658', '40.75569534', '593'],
 ['3', '-73.78971863', '40.64370728', '-73.97869873', '40.75034332', '2065'],
 ['1', '-73.97401428', '40.75715256', '-73.94973755', '40.77709198', '653'],
 ['6', '-73.78813171', '40.64146042', '-73.97177124', '40.74940872', '1884'],
 ['1', '-73.95603943', '40.76760864', '-73.96820068', '40.78668976', '989'],
 ['1', '-73.97316742', '40.75569916', '-73.98865509', '40.7369957', '419'],
 ['4', '-73.97580719', '40.76062775', '-73.98778534', '40.75492096', '962'],
 ['1', '-73.96588135', '40.76284027', '-73.96099091', '40.77087402', '243'],
 ['2', '-73.98927307', '40.7564888', '-74.00279999', '40.76050186', '373'],
 ['2', '-73.945755', '40.77368164', '-73.95343018', '40.78107834', '384'],
 ['1', '-73.86367798', '40.76977158', '-74.00721741', '40.70489502', '2753'],
 ['1', '-74.00824738', '40.7473526', '-73.97944641', '40.71875', '1561'],
 ['1', '-74.00679779', '40.70607376', '-73.97402191', '40.74407578', '505'],
 ['2', '-73.97727203', '40.75735092', '-74.00243378', '40.7344017', '900'],
 ['1', '-73.87081909', '40.77373886', '-73.85749817', '41.01781082', '2116'],
 ['1', '-73.9990921', '40.74549103', '-73.9785614', '40.76232529', '611'],
 ['1', '-73.98435974', '40.74271011', '-73.98774719', '40.75188828', '972'],
 ['1', '-73.96167755', '40.7711792', '-73.95211029', '40.78435898', '604'],
 ['1', '-73.99385834', '40.73579788', '-73.99462128', '40.75046158', '594'],
 ['1', '-73.95012665', '40.78008652', '-73.96282959', '40.76268387', '574'],
 ['1', '-73.95157623', '40.76646805', '-73.96021271', '40.76054001', '297'],
 ['1', '-73.9992981', '40.74953461', '-74.00536346', '40.74351883', '101'],
 ['1', '-73.95372009', '40.77529526', '-73.99119568', '40.72631836', '1041'],
 ['1', '-73.97679901', '40.74995041', '-73.98156738', '40.7457695', '212'],
 ['1', '-73.96195221', '40.80044556', '-73.97841644', '40.78279114', '422'],
 ['1', '-73.96389008', '40.77365112', '-74.00511169', '40.75149155', '1356'],
 ['1', '-74.00691223', '40.73036194', '-74.0059433', '40.72706985', '416'],
 ['1', '-73.97864532', '40.74803543', '-73.97013092', '40.76273727', '1118'],
 ['1', '-73.97682953', '40.78821182', '-73.98374939', '40.76253128', '874'],
 ['1', '-73.93694305', '40.79823303', '-73.94638062', '40.78088379', '321'],
 ['1', '-73.99005127', '40.73801041', '-73.99093628', '40.72521591', '400'],
 ['1', '-73.97882843', '40.7528038', '-73.99103546', '40.75041962', '934'],
 ['3', '-73.98356628', '40.75556183', '-73.98236847', '40.76696014', '773'],
 ['3', '-73.98841095', '40.75896072', '-73.99189758', '40.77069092', '337'],
 ['1', '-73.9602356', '40.76222992', '-73.95059204', '40.77531433', '234'],
 ['5', '-73.97028351', '40.76483154', '-73.95757294', '40.78247833', '474'],
 ['1', '-73.96865845', '40.76450729', '-73.87283325', '40.77145386', '1314'],
 ['2', '-73.99453735', '40.74023438', '-73.97618866', '40.76259232', '482'],
 ['1', '-73.98511505', '40.76872635', '-73.95166779', '40.77443314', '566'],
 ['2', '-73.98493958', '40.75185776', '-73.9835434', '40.74433517', '189'],
 ['2', '-74.00100708', '40.73178101', '-73.9871521', '40.77100372', '913'],
 ['2', '-73.97285461', '40.76440048', '-73.97180939', '40.75788879', '736'],
 ['6', '-73.99707794', '40.72063828', '-73.99963379', '40.74583817', '714'],
 ['1', '-73.97254944', '40.79401779', '-73.95405579', '40.7663002', '815'],
 ['2', '-73.98477173', '40.71057129', '-73.9894104', '40.73014832', '972'],
 ['1', '-73.98478699', '40.74301529', '-73.99360657', '40.73528671', '318'],
 ['1', '-73.99182129', '40.75007629', '-73.97105408', '40.75669861', '625'],
 ['1', '-73.98498535', '40.74858093', '-73.98127747', '40.76911545', '859'],
 ['2', '-73.9936676', '40.74187851', '-73.98458862', '40.75429916', '141'],
 ['1', '-73.96956635', '40.76916504', '-73.98652649', '40.73033524', '983'],
 ['2', '-73.98995972', '40.74108124', '-73.97696686', '40.74745178', '565'],
 ['1', '-73.98913574', '40.7750206', '-73.98181915', '40.76605988', '351'],
 ['1', '-73.96788025', '40.7598114', '-73.9538269', '40.77888107', '342'],
 ['4', '-74.00670624', '40.70555496', '-73.99169159', '40.74972153', '909'],
 ['1', '-73.99626923', '40.74985123', '-73.99476624', '40.73648071', '227'],
 ['6', '-73.98731995', '40.75064087', '-73.98928833', '40.76940536', '1078'],
 ['1', '-73.97543335', '40.75213242', '-73.99078369', '40.75094223', '900'],
 ['1', '-74.00020599', '40.73784637', '-74.00031281', '40.72286606', '631'],
 ['1', '-73.95545959', '40.76730728', '-73.98899841', '40.69316864', '1385'],
 ['1', '-73.96486664', '40.75579071', '-73.97580719', '40.75735474', '869'],
 ['1', '-73.99916077', '40.74436951', '-73.9887085', '40.75870132', '574'],
 ['1', '-73.97761536', '40.76357269', '-73.97257233', '40.76595688', '104'],
 ['1', '-73.95311737', '40.77180099', '-73.94792175', '40.78314972', '418'],
 ['1', '-74.0016098', '40.74081039', '-73.99622345', '40.72590256', '383'],
 ['2', '-73.96218109', '40.81072617', '-73.9948349', '40.75281143', '1117'],
 ['1', '-73.98696899', '40.74285126', '-73.99428558', '40.76135635', '1447'],
 ['2', '-73.97155762', '40.75062943', '-73.95262909', '40.63159561', '2543'],
 ['1', '-73.95687866', '40.77487183', '-73.93650818', '40.85718536', '981'],
 ['3', '-73.94435883', '40.71448898', '-73.91053009', '40.70949173', '755'],
 ['1', '-73.97279358', '40.75559616', '-73.87312317', '40.77445602', '1257'],
 ['2', '-74.00554657', '40.70926285', '-73.97014618', '40.76274109', '1221'],
 ['2', '-73.98464966', '40.74597931', '-73.97737885', '40.75965118', '940'],
 ['1', '-73.96196747', '40.77008057', '-73.96077728', '40.77505112', '126'],
 ['1', '-73.96942139', '40.80003357', '-73.9681778', '40.79170227', '350'],
 ['1', '-73.98262787', '40.76211166', '-73.99337006', '40.74748993', '737'],
 ['3', '-73.99577332', '40.74256897', '-74.00809479', '40.72277069', '690'],
 ['2', '-74.00007629', '40.74829865', '-73.98988342', '40.73796463', '671'],
 ['1', '-73.9991684', '40.73423386', '-73.98209381', '40.74027634', '463'],
 ['1', '-74.01425171', '40.71391296', '-74.00462341', '40.7053833', '367'],
 ['1', '-73.99089813', '40.75066376', '-73.99321747', '40.73419952', '369'],
 ['1', '-73.97510529', '40.75569153', '-73.9855957', '40.74747467', '402'],
 ['5', '-73.96743774', '40.75934982', '-74.01268768', '40.70161057', '1093'],
 ['1', '-73.97599792', '40.75113678', '-74.00185394', '40.73522949', '657'],
 ['2', '-73.9789505', '40.75093079', '-73.96439362', '40.75496292', '530'],
 ['1', '-73.97978973', '40.78126526', '-73.94087982', '40.82322311', '733'],
 ['2', '-73.98686218', '40.7509613', '-74.00537872', '40.74002838', '699'],
 ['2', '-73.96701813', '40.75300598', '-73.95162964', '40.76935959', '294'],
 ['1', '-73.97038269', '40.76499176', '-73.94966888', '40.76845932', '661'],
 ['1', '-74.00243378', '40.7171669', '-73.98596954', '40.72674942', '652'],
 ['5', '-74.00749969', '40.74095154', '-74.01664734', '40.70491028', '586'],
 ['2', '-73.99538422', '40.7492981', '-73.98932648', '40.71814728', '1057'],
 ['1', '-73.98667908', '40.72584915', '-73.99746704', '40.7351532', '580'],
 ['5', '-73.98002625', '40.76596832', '-73.99120331', '40.75035095', '1151'],
 ['1', '-73.95449829', '40.76680756', '-73.98778534', '40.7208786', '660'],
 ['1', '-74.00772858', '40.74060822', '-73.98351288', '40.73720932', '803'],
 ['1', '-74.00679779', '40.73107147', '-73.97496033', '40.75846863', '1954'],
 ['6', '-73.98092651', '40.75524139', '-74.00455475', '40.7296524', '1030'],
 ['4', '-73.86277771', '40.76931381', '-73.98612976', '40.74858093', '2817'],
 ['5', '-73.98786926', '40.76509857', '-73.99360657', '40.75894928', '85'],
 ['1', '-73.95413208', '40.77478409', '-73.94741821', '40.77963257', '194'],
 ['1', '-73.9720993', '40.78220749', '-73.96451569', '40.77754974', '116'],
 ['1', '-73.97821045', '40.77716064', '-73.95762634', '40.77454758', '806'],
 ['1', '-73.98357391', '40.73841858', '-74.00548553', '40.73955917', '599'],
 ['1', '-73.98471069', '40.76018143', '-73.97956085', '40.75270462', '364'],
 ['1', '-73.98989105', '40.74715805', '-73.97494507', '40.741745', '433'],
 ['4', '-73.86347198', '40.76981735', '-73.87153625', '40.76310349', '598'],
 ['1', '-73.9758606', '40.7572403', '-74.17759705', '40.69094849', '1665'],
 ['1', '-73.95665741', '40.78076935', '-73.96964264', '40.80010223', '838'],
 ['3', '-73.87300873', '40.77412033', '-73.97607422', '40.74991226', '1699'],
 ['2', '-73.97163391', '40.78196335', '-73.98168945', '40.77899551', '331'],
 ['2', '-73.98435974', '40.74898529', '-73.99628448', '40.71605682', '622'],
 ['1', '-73.97097015', '40.76412582', '-73.96228027', '40.77618027', '343'],
 ['1', '-73.86691284', '40.77187729', '-73.79469299', '40.7347908', '998'],
 ['1', '-73.95521545', '40.78024673', '-73.86183167', '40.76845551', '1365'],
 ['2', '-73.95274353', '40.77225876', '-73.97776794', '40.73911285', '592'],
 ['1', '-73.97257996', '40.74890518', '-73.96156311', '40.76051712', '313'],
 ['1', '-73.95526123', '40.78024292', '-73.96987152', '40.7897644', '890'],
 ['6', '-74.00283813', '40.76036072', '-73.98841095', '40.77898026', '558'],
 ['1', '-73.99006653', '40.75193405', '-73.98975372', '40.72386932', '1389'],
 ['1', '-73.99008179', '40.75673676', '-73.95513153', '40.67752457', '2556'],
 ['2', '-73.94952393', '40.77661133', '-73.94267273', '40.78596878', '135'],
 ['2', '-73.99514008', '40.75', '-73.99369812', '40.73550034', '533'],
 ['3', '-73.96012115', '40.7819519', '-73.9719696', '40.75503922', '1035'],
 ['1', '-73.99752045', '40.721241', '-73.98800659', '40.72082138', '574'],
 ['1', '-73.99837494', '40.72592545', '-73.99031067', '40.73112869', '304'],
 ['3', '-73.97830963', '40.73715973', '-73.9732132', '40.74394989', '138'],
 ['1', '-73.96511078', '40.77508926', '-73.95236969', '40.76646042', '559'],
 ['1', '-73.99250031', '40.74044418', '-73.84011078', '40.71951675', '1216'],
 ['1', '-74.00611877', '40.7179184', '-74.01350403', '40.71568298', '212'],
 ['1', '-73.95810699', '40.74216843', '-73.93170929', '40.76806641', '788'],
 ['1', '-73.78186035', '40.64468384', '-73.96192169', '40.76703262', '1746'],
 ['3', '-73.9619751', '40.76773453', '-73.95858765', '40.77301025', '123'],
 ['1', '-73.99806213', '40.6748085', '-74.00444031', '40.73265076', '853'],
 ['1', '-73.95108795', '40.71106339', '-73.9389267', '40.70738602', '268'],
 ['1', '-73.98010254', '40.75370407', '-73.99331665', '40.74161148', '704'],
 ['1', '-73.98155975', '40.7663269', '-73.91159058', '40.7638855', '2678'],
 ['1', '-73.99031067', '40.71886444', '-73.99554443', '40.73687363', '715'],
 ['2', '-73.97046661', '40.79917526', '-74.01721191', '40.70519257', '1081'],
 ['3', '-74.002388', '40.74955368', '-73.9777832', '40.75408173', '798'],
 ['1', '-73.99090576', '40.75627136', '-73.97681427', '40.75968933', '1348'],
 ['1', '-73.98690796', '40.76160812', '-74.00840759', '40.71162033', '1327'],
 ['3', '-74.00817108', '40.74500275', '-73.95509338', '40.80483627', '1030'],
 ['1', '-73.99488068', '40.75021362', '-73.96221924', '40.71162033', '2456'],
 ['1', '-73.96318054', '40.77423096', '-73.95555115', '40.77869034', '326'],
 ['1', '-73.98484802', '40.72433472', '-73.88411713', '40.71671677', '2159'],
 ['1', '-73.98181915', '40.76896286', '-73.98181915', '40.76896286', '227'],
 ['1', '-73.97602844', '40.77612686', '-73.94838715', '40.77815628', '1535'],
 ['5', '-73.98379517', '40.75070572', '-73.97735596', '40.76612091', '490'],
 ['4', '-73.97346497', '40.76087952', '-73.96613312', '40.76120377', '398'],
 ['1', '-73.98133087', '40.74726868', '-74.00549316', '40.7390213', '1034'],
 ['1', '-74.00452423', '40.72419357', '-74.00449371', '40.7246666', '189'],
 ['1', '-73.98253632', '40.77566147', '-73.9694519', '40.80208969', '1119'],
 ['1', '-73.9677887', '40.76269913', '-73.98147583', '40.74219131', '487'],
 ['1', '-73.98706818', '40.75663376', '-73.96030426', '40.78077316', '711'],
 ['1', '-73.98609924', '40.71948624', '-73.945961', '40.71143723', '654'],
 ['2', '-74.00778198', '40.74094391', '-73.97117615', '40.80080032', '947'],
 ['1', '-73.98506927', '40.73220444', '-73.91049194', '40.69681549', '1445'],

In [4]:
type(taxi)

list

In [5]:
taxi[1:5]

[['1', '-73.98215485', '40.76793671', '-73.96463013', '40.76560211', '455'],
 ['1', '-73.98041534', '40.73856354', '-73.9994812', '40.73115158', '663'],
 ['1', '-73.97902679', '40.7639389', '-74.00533295', '40.71008682', '2124'],
 ['1', '-74.01004028', '40.7199707', '-74.01226807', '40.70671844', '429']]

## علت خطا در پایین چیست؟

In [6]:
taxi[1:10,1:]

TypeError: list indices must be integers or slices, not tuple

## نوع تاکسی چیست؟

In [7]:
type(taxi)

list

# تبدیل لیست تاکسی به نامپای

In [8]:
taxi = np.array(taxi)

## سطر یک تا پنج

In [9]:
taxi[1:5]

array([['1', '-73.98215485', '40.76793671', '-73.96463013',
        '40.76560211', '455'],
       ['1', '-73.98041534', '40.73856354', '-73.9994812', '40.73115158',
        '663'],
       ['1', '-73.97902679', '40.7639389', '-74.00533295', '40.71008682',
        '2124'],
       ['1', '-74.01004028', '40.7199707', '-74.01226807', '40.70671844',
        '429']], dtype='<U17')

In [10]:
taxi[1:3,2:5]

array([['40.76793671', '-73.96463013', '40.76560211'],
       ['40.73856354', '-73.9994812', '40.73115158']], dtype='<U17')

## نوشتن متفاوت

In [11]:
taxi[2,[1,2]]

array(['-73.98041534', '40.73856354'], dtype='<U17')

## علت خطای پایین چیست؟

In [12]:
taxisum = taxi[:,0]
taxisum.sum()

TypeError: cannot perform reduce with flexible type

# علت خطای پایین چیست

In [13]:
taxisum = taxi[:,2].astype(float)
taxisum.sum()

ValueError: could not convert string to float: 'pickup_latitude'

## تغییر موفق نوع داده به اعشاری

In [14]:
taxisum = taxi[2:,2].astype(float)
taxisum.sum()

42730378.239756405

## تقسیم طول مدت سفر بر تعداد مسافر جهت محاسبه هزینه هر نفر

In [15]:
(taxi[1:,5].astype(float))/(taxi[1:,1].astype(float))

array([ -6.15013176,  -8.96183128, -28.71083998, ...,  -8.17876611,
        -3.87872789, -15.79984662])

## خواندن با پانداس و دیتا فریم

In [16]:
MainDF = pd.read_csv('C:/Users/ABA/Desktop/nikamooz/mainCourseSTuuf/dataset/revenue-budget-financial-plan.csv')
MainDF.head(10)

,Publication Date,Fiscal Year,Fundind Source Name,FPS Group,FPS Group Name,Agency Number,Agency Name,Revenue Category,Revenue Category Name,Revenue Class Code,...,Revenue Source,Revenue Source Name,Revenue Structure Description,Adopted Budget Amount,Current Modified Budget Amount,Yr1_FY,Year 1 Revenue Amount,Year 2 Revenue Amount,Year 3 Revenue Amount,Year 4 Revenue Amount
0,2016 11 17,2017,City Funds,1,Real Property,2.0,Mayoralty,20,TAXES,1.0,...,00001,REAL PROP TAX 1ST QUART,REAL PROP TAX 1ST QUART,10386162000,10386162000,2017,10364353000,10959257000,11607958000,12151245000
1,2016 11 17,2017,City Funds,1,Real Property,2.0,Mayoralty,20,TAXES,1.0,...,00002,REAL PROP TAX 2ND QUART,REAL PROP TAX 2ND QUART,1823062000,1823062000,2017,1823017000,1927657000,2041759000,2137319000
2,2016 11 17,2017,City Funds,1,Real Property,2.0,Mayoralty,20,TAXES,1.0,...,00003,REAL PROP TAX 3RD QUART,REAL ESTATE TAXES 3RD QUARTER,10167635000,10167635000,2017,9991423000,10564922000,11190281000,11714020000
3,2016 11 17,2017,City Funds,1,Real Property,2.0,Mayoralty,20,TAXES,1.0,...,00004,REAL PROP TAX 4TH QUART,REAL PROP TAX 4TH QUART,1668138000,1668138000,2017,1866204000,1973323000,2090128000,2187952000
4,2016 11 17,2017,City Funds,1,Real Property,2.0,Mayoralty,20,TAXES,1.0,...,00021,REAL ESTATE TAX REFUNDS,GEN PROPERTY TAXES REFUNDS,-400000000,-400000000,2017,-400000000,-400000000,-400000000,-400000000
5,2016 11 17,2017,City Funds,1,Real Property,2.0,Mayoralty,20,TAXES,1.0,...,00034,REAL PROPERTY TAX LIEN SALES,REAL PROPERTY TAX LIEN SALES,80000000,80000000,2017,80000000,80000000,80000000,80000000
6,2016 11 17,2017,City Funds,1,Real Property,2.0,Mayoralty,20,TAXES,1.0,...,00049,ACCRUED REAL ESTATE TAX REVENUE,REAL ESTATE TX REV-NON-CASH,300000000,300000000,2017,300000000,305000000,310000000,320000000
7,2016 11 17,2017,City Funds,2,Personal Income,2.0,Mayoralty,20,TAXES,4.0,...,00090,PERSONAL INCOME TAX,PERSONAL INCOME TAX,12347000000,12347000000,2017,12311000000,12683000000,13145000000,13660000000
8,2016 11 17,2017,City Funds,2,Personal Income,2.0,Mayoralty,20,TAXES,4.0,...,00091,REFUNDS OF PERSONAL INCOME TAX,REFUNDS OF PERSONAL INCOME TAX,-1122000000,-1122000000,2017,-1127000000,-1130000000,-1174000000,-1224000000
9,2016 11 17,2017,City Funds,3,General Corporation,2.0,Mayoralty,20,TAXES,4.0,...,00093,GENERAL CORPORATION TAX,GENERAL CORPORATION TAX,4426000000,4426000000,2017,4394000000,4671000000,4673000000,4719000000

## اسامی هدر ها یا فیچر ها

In [17]:
MainDF.columns

Index(['Publication Date', 'Fiscal Year', 'Fundind Source Name', 'FPS Group',
       'FPS Group Name', 'Agency Number', 'Agency Name', 'Revenue Category',
       'Revenue Category Name', 'Revenue Class Code', 'Revenue Class Name',
       'Budget Code', 'Revenue Source', 'Revenue Source Name',
       'Revenue Structure Description', 'Adopted Budget Amount',
       'Current Modified Budget Amount', 'Yr1_FY', 'Year 1 Revenue Amount',
       'Year 2 Revenue Amount', 'Year 3 Revenue Amount',
       'Year 4 Revenue Amount'],
      dtype='object')

In [18]:
MainDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3213 entries, 0 to 3212
Data columns (total 22 columns):
Publication Date                  3213 non-null object
Fiscal Year                       3213 non-null int64
Fundind Source Name               3213 non-null object
FPS Group                         3213 non-null int64
FPS Group Name                    3213 non-null object
Agency Number                     3213 non-null float64
Agency Name                       3213 non-null object
Revenue Category                  3213 non-null int64
Revenue Category Name             3213 non-null object
Revenue Class Code                3213 non-null float64
Revenue Class Name                3213 non-null object
Budget Code                       3213 non-null object
Revenue Source                    3213 non-null object
Revenue Source Name               3213 non-null object
Revenue Structure Description     3213 non-null object
Adopted Budget Amount             3213 non-null int64
Current Modified Budget Amount    3213 non-null int64
Yr1_FY                            3213 non-null int64
Year 1 Revenue Amount             3213 non-null int64
Year 2 Revenue Amount             3213 non-null int64
Year 3 Revenue Amount             3213 non-null int64
Year 4 Revenue Amount             3213 non-null int64
dtypes: float64(2), int64(10), object(10)
memory usage: 552.3+ KB

## آمار ابتدایی داده

In [19]:
MainDF.describe()

,Fiscal Year,FPS Group,Agency Number,Revenue Category,Revenue Class Code,Adopted Budget Amount,Current Modified Budget Amount,Yr1_FY,Year 1 Revenue Amount,Year 2 Revenue Amount,Year 3 Revenue Amount,Year 4 Revenue Amount
count,3213.000000,3213.000000,3213.000000,3213.000000,3213.000000,3.213000e+03,3.213000e+03,3213.000000,3.213000e+03,3.213000e+03,3.213000e+03,3.213000e+03
mean,2017.502646,29.889200,504.031435,25.044818,166.804544,5.320068e+07,5.392309e+07,2017.502646,5.398606e+07,5.478184e+07,5.667057e+07,5.843039e+07
std,0.500071,7.591381,385.724378,5.592746,157.439135,5.761721e+08,5.764256e+08,0.500071,5.749555e+08,6.027960e+08,6.309380e+08,6.565497e+08
min,2017.000000,1.000000,2.000000,20.000000,1.000000,-1.130000e+09,-1.130000e+09,2017.000000,-1.129000e+09,-1.174000e+09,-1.224000e+09,-1.224000e+09
25%,2017.000000,24.000000,56.000000,22.000000,13.000000,0.000000e+00,1.147080e+05,2017.000000,1.157140e+05,0.000000e+00,0.000000e+00,0.000000e+00
50%,2018.000000,33.000000,806.000000,25.000000,210.000000,2.312620e+05,5.054980e+05,2018.000000,5.198750e+05,2.015160e+05,1.916160e+05,1.823770e+05
75%,2018.000000,35.000000,841.000000,26.000000,293.000000,2.913938e+06,3.800000e+06,2018.000000,3.933245e+06,2.843892e+06,2.795000e+06,2.737000e+06
max,2018.000000,40.000000,945.000000,90.000000,437.000000,1.297100e+10,1.297100e+10,2018.000000,1.297000e+10,1.324700e+10,1.384800e+10,1.439000e+10

## استفاده از تابع اشتباه برای دیتا فریم

In [20]:
MainDF.value_counts()

AttributeError: 'DataFrame' object has no attribute 'value_counts'

## تابع صحیح مقادیر یکتا در سریز

In [21]:
MainDF['Fiscal Year'].value_counts()

2018    1615
2017    1598
Name: Fiscal Year, dtype: int64

## تابع تعداد مقادیر یکتا در دیتافریم

In [22]:
MainDF.nunique()

Publication Date                     2
Fiscal Year                          2
Fundind Source Name                  7
FPS Group                           35
FPS Group Name                      35
Agency Number                       78
Agency Name                         78
Revenue Category                    12
Revenue Category Name               14
Revenue Class Code                  71
Revenue Class Name                  66
Budget Code                       1136
Revenue Source                     583
Revenue Source Name                561
Revenue Structure Description     1635
Adopted Budget Amount             1442
Current Modified Budget Amount    2316
Yr1_FY                               2
Year 1 Revenue Amount             2334
Year 2 Revenue Amount             1318
Year 3 Revenue Amount             1252
Year 4 Revenue Amount             1227
dtype: int64

In [23]:
MainDF['Fiscal Year'].head(5)

0    2017
1    2017
2    2017
3    2017
4    2017
Name: Fiscal Year, dtype: int64

In [ ]:
MainDF['Fiscal Year']

In [24]:
MainDF['Fiscal Year'] + 10

0       2027
1       2027
2       2027
3       2027
4       2027
5       2027
6       2027
7       2027
8       2027
9       2027
10      2027
11      2027
12      2027
13      2027
14      2027
15      2027
16      2027
17      2027
18      2027
19      2027
20      2027
21      2027
22      2027
23      2027
24      2027
25      2027
26      2027
27      2027
28      2027
29      2027
        ...
3183    2028
3184    2028
3185    2028
3186    2028
3187    2028
3188    2028
3189    2028
3190    2028
3191    2028
3192    2028
3193    2028
3194    2028
3195    2028
3196    2028
3197    2028
3198    2028
3199    2028
3200    2028
3201    2028
3202    2028
3203    2028
3204    2028
3205    2028
3206    2028
3207    2028
3208    2028
3209    2028
3210    2028
3211    2028
3212    2028
Name: Fiscal Year, Length: 3213, dtype: int64

In [25]:
ekhtelaf = MainDF['Year 3 Revenue Amount'] - MainDF['Year 1 Revenue Amount'] 
ekhtelaf.head(10)

0    1243605000
1     218742000
2    1198858000
3     223924000
4             0
5             0
6      10000000
7     834000000
8     -47000000
9     279000000
dtype: int64

# اضافه کردن ستون اختلاف درامد

In [26]:
MainDF['Ekhtelaf3&1'] = ekhtelaf
MainDF.head(10)

,Publication Date,Fiscal Year,Fundind Source Name,FPS Group,FPS Group Name,Agency Number,Agency Name,Revenue Category,Revenue Category Name,Revenue Class Code,...,Revenue Source Name,Revenue Structure Description,Adopted Budget Amount,Current Modified Budget Amount,Yr1_FY,Year 1 Revenue Amount,Year 2 Revenue Amount,Year 3 Revenue Amount,Year 4 Revenue Amount,Ekhtelaf3&1
0,2016 11 17,2017,City Funds,1,Real Property,2.0,Mayoralty,20,TAXES,1.0,...,REAL PROP TAX 1ST QUART,REAL PROP TAX 1ST QUART,10386162000,10386162000,2017,10364353000,10959257000,11607958000,12151245000,1243605000
1,2016 11 17,2017,City Funds,1,Real Property,2.0,Mayoralty,20,TAXES,1.0,...,REAL PROP TAX 2ND QUART,REAL PROP TAX 2ND QUART,1823062000,1823062000,2017,1823017000,1927657000,2041759000,2137319000,218742000
2,2016 11 17,2017,City Funds,1,Real Property,2.0,Mayoralty,20,TAXES,1.0,...,REAL PROP TAX 3RD QUART,REAL ESTATE TAXES 3RD QUARTER,10167635000,10167635000,2017,9991423000,10564922000,11190281000,11714020000,1198858000
3,2016 11 17,2017,City Funds,1,Real Property,2.0,Mayoralty,20,TAXES,1.0,...,REAL PROP TAX 4TH QUART,REAL PROP TAX 4TH QUART,1668138000,1668138000,2017,1866204000,1973323000,2090128000,2187952000,223924000
4,2016 11 17,2017,City Funds,1,Real Property,2.0,Mayoralty,20,TAXES,1.0,...,REAL ESTATE TAX REFUNDS,GEN PROPERTY TAXES REFUNDS,-400000000,-400000000,2017,-400000000,-400000000,-400000000,-400000000,0
5,2016 11 17,2017,City Funds,1,Real Property,2.0,Mayoralty,20,TAXES,1.0,...,REAL PROPERTY TAX LIEN SALES,REAL PROPERTY TAX LIEN SALES,80000000,80000000,2017,80000000,80000000,80000000,80000000,0
6,2016 11 17,2017,City Funds,1,Real Property,2.0,Mayoralty,20,TAXES,1.0,...,ACCRUED REAL ESTATE TAX REVENUE,REAL ESTATE TX REV-NON-CASH,300000000,300000000,2017,300000000,305000000,310000000,320000000,10000000
7,2016 11 17,2017,City Funds,2,Personal Income,2.0,Mayoralty,20,TAXES,4.0,...,PERSONAL INCOME TAX,PERSONAL INCOME TAX,12347000000,12347000000,2017,12311000000,12683000000,13145000000,13660000000,834000000
8,2016 11 17,2017,City Funds,2,Personal Income,2.0,Mayoralty,20,TAXES,4.0,...,REFUNDS OF PERSONAL INCOME TAX,REFUNDS OF PERSONAL INCOME TAX,-1122000000,-1122000000,2017,-1127000000,-1130000000,-1174000000,-1224000000,-47000000
9,2016 11 17,2017,City Funds,3,General Corporation,2.0,Mayoralty,20,TAXES,4.0,...,GENERAL CORPORATION TAX,GENERAL CORPORATION TAX,4426000000,4426000000,2017,4394000000,4671000000,4673000000,4719000000,279000000

In [27]:
MainDF['Ekhtelaf3&1'].mean()

2684509.6100217863

In [28]:
MainDF['Ekhtelaf3&1'].min()

-1347445699

## به تفاوت مقیاس واریانس و انحراف از معیار دقت کنید

In [29]:
MainDF['Ekhtelaf3&1'].var()

4383713252802201.0

In [30]:
MainDF['Ekhtelaf3&1'].std()

66209616.01461075

In [31]:
MainDF['Ekhtelaf3&1'].describe()

count    3.213000e+03
mean     2.684510e+06
std      6.620962e+07
min     -1.347446e+09
25%     -1.710490e+05
50%      0.000000e+00
75%      0.000000e+00
max      1.279039e+09
Name: Ekhtelaf3&1, dtype: float64

In [32]:
MainDF.loc[:,2]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [2] of <class 'int'>

In [33]:
MainDF.iloc[:,'Fiscal Year']

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [34]:
MainDF.loc[:,'Fiscal Year']

0       2017
1       2017
2       2017
3       2017
4       2017
5       2017
6       2017
7       2017
8       2017
9       2017
10      2017
11      2017
12      2017
13      2017
14      2017
15      2017
16      2017
17      2017
18      2017
19      2017
20      2017
21      2017
22      2017
23      2017
24      2017
25      2017
26      2017
27      2017
28      2017
29      2017
        ...
3183    2018
3184    2018
3185    2018
3186    2018
3187    2018
3188    2018
3189    2018
3190    2018
3191    2018
3192    2018
3193    2018
3194    2018
3195    2018
3196    2018
3197    2018
3198    2018
3199    2018
3200    2018
3201    2018
3202    2018
3203    2018
3204    2018
3205    2018
3206    2018
3207    2018
3208    2018
3209    2018
3210    2018
3211    2018
3212    2018
Name: Fiscal Year, Length: 3213, dtype: int64

## منبع درامد های شهری

In [35]:
MainDF["Fundind Source Name"].value_counts()

Federal Grants              1043
City Funds                   696
State Grants                 566
Intra-City                   436
Other Categorical Grants     426
Inter Fund Agreements         40
Community Development          6
Name: Fundind Source Name, dtype: int64

In [36]:
MainDF["Fundind Source Name"].value_counts().loc["City Funds"]

696

In [37]:
bigRev = MainDF["Year 1 Revenue Amount"] > 10000000
smallRev = MainDF["Year 2 Revenue Amount"] < 1222200
combined = bigRev & smallRev
MainDF[combined].head(5)

,Publication Date,Fiscal Year,Fundind Source Name,FPS Group,FPS Group Name,Agency Number,Agency Name,Revenue Category,Revenue Category Name,Revenue Class Code,...,Revenue Source Name,Revenue Structure Description,Adopted Budget Amount,Current Modified Budget Amount,Yr1_FY,Year 1 Revenue Amount,Year 2 Revenue Amount,Year 3 Revenue Amount,Year 4 Revenue Amount,Ekhtelaf3&1
274,2016 11 17,2017,City Funds,23,Miscellaneous,2.0,Mayoralty,24,MISCELLANEOUS,18.0,...,SUNDRIES,HEALTH STABILIZATION PAYMENT,59064200,59064200,2017,59605700,0,0,0,-59605700
655,2016 11 17,2017,Other Categorical Grants,30,Other Categorical Grants,816.0,Department of Health and Mental Hygiene,27,Non-Governmental Grants,36.0,...,HEALTH RESEARCH,TECHNICAL ASSISTANCE FUND,0,0,2017,18000000,0,0,0,-18000000
855,2016 11 17,2017,Federal Grants,33,Social Services - Federal,71.0,Department of Homeless Services,25,Federal Grants-Categorical,214.0,...,EMERGENCY SHELTER GRANTS PROGRAM,EMERGENCY SHELTER,0,15147030,2017,15147030,0,0,0,-15147030
863,2016 11 17,2017,Federal Grants,33,Social Services - Federal,71.0,Department of Homeless Services,25,Federal Grants-Categorical,293.0,...,TANF--EMERGENCY ASSISTANCE,TANF EMERGENCY ASSISTANCE,661493,661493,2017,26030814,661493,661493,661493,-25369321
882,2016 11 17,2017,Federal Grants,35,Other - Federal,2.0,Mayoralty,25,Federal Grants-Categorical,297.0,...,HAZARD MITIGATION GRANT,HAZARD MITIGATION GRANT (HMGP),0,15533624,2017,15533624,0,0,0,-15533624

##  عملیات سطری

In [ ]:
means = MainDF[['Year 1 Revenue Amount','Year 2 Revenue Amount']].mean(axis=0)
means.head(5)